html, body {
    margin: 0;
    height: 100%;
}

body {
  background-color: grey;
  display: grid;
  grid-template-rows: min-content 1fr;
}

.header {
  margin-left: 1em;
  margin-right: 1em;
  border-bottom: 1px solid #333;
}

.body {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: max-content max-content max-content max-content;
}

.writing {
  display: grid;
  grid-template-rows: min-content 1fr;
  padding: 1em;
}

.left {
  border-right: 1px solid #333;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 5;
}

.right {
  border-left: 1px solid #333;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
}

.rotorpanel {
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1em;
}

button.reset {
  border: 2px solid #777;
  border-radius: 1em; /*make circular */
  padding: 5px;
  background-color: black;
  text-align: center;
  vertical-align: middle;
  color: #555;
  line-height: 1.3em;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 1.5em;
  box-shadow: 0 10px 6px black;
  cursor: pointer;
}

button.reset:active {
  box-shadow: 0px 1px 0px black;
  transform: translateY(10px);
}
