.notition {
font-family: monospace;
  padding-left: 1em;
  border: 1px solid black;
  background-color: white;
  color: black;
  font-size: 22px;
  vertical-align: middle;
  line-height: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  word-wrap: break-word;
}

